package views

templ DashboardPage(quizzes []DBQuiz) {
	@Index("quiz dashboard", true) {
		<div>
			<h1>dashboard page</h1>
			<div>
				<h3>List of Quizzes</h3>
				<ol>
					for _, quiz := range quizzes {
						<li><a href={templ.URL("/dashboard/quiz/" + quiz.ID)}> {quiz.Title} </a></li>
					}
				</ol>
			</div>
			<a href="/dashboard/quiz">create new quiz</a>
		</div>
	}
}
