package views

templ DashboardPage(quizzes []DBQuiz) {
	@Index("quiz dashboard", true) {
		<div>
			<h1>dashboard page</h1>
			<div>
				<h3>List of Quizzes</h3>
				<ol>
					for _, quiz := range quizzes {
						<li>{quiz.Title}</li>
					}
				</ol>
			</div>
		</div>
	}
}
