package views

templ Index(title string) {
	<!DOCTYPE html>
	<html>
	<head>
		<title>{ title }</title>
	</head>
		<body>
			<nav>
				<a href="/">home</a>
				<a href="/login">login</a>
			</nav>
			{ children... }
		</body>
	</html>
}

templ RootPage(message string) {
	@Index("quiz app") {
		<div>{ message }</div>
	}
}
