package views

templ Index(title string, auth bool) {
	<!DOCTYPE html>
	<html>
	<head>
		<title>{ title }</title>
	</head>
		<body>
			<nav>
				<a href="/">home</a>
				if auth {
					<a href="/profile">profile</a>
				} else {
					<a href="/login">login</a>
				}
			</nav>
			{ children... }
		</body>
	</html>
}

templ RootPage(message string) {
	@Index("quiz app", true) {
		<div>{ message }</div>
	}
}
