package views

templ Question(quizID string, question DBQuestion) {
	<li class="question-block">
		{question.Body}
		<ol type="a" id={"option-list-" + question.ID}>
			for _, option := range question.Options {
				<li>{option.Body}</li>
			}
		</ol>
		<form hx-post={"/quiz/" + quizID + "/" + question.ID + "/option"} hx-swap="beforeend" hx-target={"#option-list-" + question.ID}>
			<input type="text" name="option_body" />
			<button>add option</button>
		</form>
	</li>
}
