package views

templ QuizListPage(quizzes []DBQuiz) {
	@Index("start quiz", false) {
		<h1>Quizzes available</h1>
		<div>
			for _, quiz := range quizzes {
				<div>
					<a href={templ.URL("/attempt/" + quiz.ID)}>{quiz.Title}</a>
				</div>
			}
		</div>
	}
}
