package views

templ QuizParentPage() {
	@Index("quiz", true) {
		<form action="/quiz" method="POST">
			<label> quiz title <input type="text" name="quiz_title" /> </label>
			<button> create </button>
		</form>
	}
}
